<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/css/bootstrap') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/components/nav') %>

        <div class="container my-5">
            <div class="text-center">
                <img width="60%" src="/uploads/<%= blog.coverImage %>" class="rounded mx-auto" />
            </div>
            <h1 class="my-5 text-center">
                <%= blog.title %>
            </h1>
            <p>
                <%= blog.content %>
            </p>
            <p>Posted By:<%= blog.createdBy.fullName %></p>
        </div>
        <% if (locals.user) { %>
            <div class="container my-5">
                <input type="text" placeholder="Enter your comments" class="form-control" id="commentInput">
                <button id="submitBtn" class="btn btn-success my-2">post</button>
            </div>
            
            
       <% } %>
        
        <%- include('./partials/js/bootstrap') %>
        <script>
            const blogId = '<%= blog._id %>';
            const input = document.getElementById('commentInput');
            const Btn = document.getElementById('submitBtn');
            Btn.addEventListener('click', createComment);
            function createComment(){
                fetch('/comment/create',{
                    method:'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body:JSON.stringify({
                        blogId: blogId,
                       content:input.value 
                    })
                }).then(e =>window.location.reload())
            }
        </script>
</body>

</html>